POSTGRES_DB=flinkly
POSTGRES_USER=flinkly
POSTGRES_PASSWORD=change_me_secure_password

# Passwort das Nutzer beim ersten Login eingeben müssen
HOUSEHOLD_PASSWORD=change_me_household_password

SECRET_KEY=change_me_very_long_random_secret_key_min_32_chars
